:root {
  --main-color: rgb(99, 165, 251);
  --default-animation: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}

img,
h1,
p,
input {
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

h1 {
  font-size: 1.3rem;
  padding: 5px;
}

h2 {
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

body {
  color: rgb(99, 165, 251);
  background-image: url(./public/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.information {
  width: 95%;
  padding: 10px;
  background-color: black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.imagen {
  width: 3.5rem;
}

.containerOne {
  width: 100%;
  text-align: center;
  z-index: 1000;
  position: fixed;
  background-color: rgb(0, 0, 0);
  border-radius: 0px 0px 20px 20px;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.search {
  display: flex;
}

aside {
  position: fixed;
  left: -16rem;
  top: 5.8rem;
  z-index: 800;
  height: 85vh;
  padding: 20px;
  font-size: 2rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(39, 39, 39);
  background: linear-gradient(90deg, #020024 3%, #041736 35%, #020024 98%);
  box-shadow: 5px 5px 10px #151515;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
}

ul,
ol {
  list-style: none;
}

.is-open {
  left: 0;
}

aside li {
  color: aliceblue;
  padding: 2rem;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

aside li:hover {
  /* font-size: 2.3rem; */
  color: rgb(105, 108, 112);
  transform: scale(1.1);
}

aside li a {
  color: inherit;
  text-decoration: none;
}

.containerCard {
  margin: 0.5rem;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 0.5rem;
}
.containerCard:hover {
  background-color: rgb(43, 42, 42);
}

/* .btn-card {
} */

#btn-card {
  top: 5.8rem;
  left: 2rem;
  box-shadow: 2px 3px 1px #151515;
  width: 2rem;
  height: 1.3rem;
  position: fixed;
  background-color: rgb(13, 42, 122);
}

.content {
  display: flex;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.links {
  width: 2rem;
  display: flex;
  flex-direction: row;
}

.links a {
  width: inherit;
  height: inherit;
}

#menu-icon,
#menu-icon::after,
#menu-icon::before {
  background-color: rgb(255, 255, 255);
}

main {
  padding: 100px 10px;
}

.form {
  display: flex;
  justify-content: space-around;
}

.in_active {
  display: none;
}

.form button {
  color: #0037ff;
  padding: 4px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 2px 3px 1px #151515;
}

.form button:hover {
  font-size: 1rem;
  color: #04144e;
}

#create {
  gap: 0.2rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem #041736;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #020024 3%, #041736 35%, #020024 98%);
  position: fixed;
  top: 10%;
  z-index: 1001;
}

#create input {
  border-radius: 0.4rem;
  padding: 0.6rem;
}

#create button {
  margin: 0.5rem;
  color: #0037ff;
  padding: 4px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 2px 3px 1px #151515;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#create button:hover {
  background-color: #151515;
  font-size: 1rem;
  color: #c6c7cb;
}

#cancele-create {
  position: relative;
  top: -1rem;
  left: -12rem;
}

#tu_propio_cuadro {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  text-align: center;
}

#Contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click {
  height: 35rem;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1002;
  top: 5rem;
}

.click img {
  width: 20rem;
}

.edit {
  display: flex;
  justify-content: center;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.off {
  display: none;
}

#edit {
  align-items: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  padding: 10px;
  background-color: #151515;
  top: 4rem;
  position: fixed;
  border-radius: 1rem;
}

#edit input {
  margin: 10px;
}

.card-edit {
  opacity: 1;
  transform: translateY(0);
  z-index: 1001;
  position: fixed;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(40, 40, 40);
  padding: 1rem;
}

.card-edit-description button {
  margin: 0.5rem;
  width: 2rem;
  background-color: var(--main-color);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: var(--default-animation);
}
.card-edit-description button:hover {
  border: 1px solid var(--main-color);
  background-color: rgb(89, 89, 89);
  color: white;
}
.card-edit-description p {
  margin-top: 0.5rem;
}

.card-edit-img {
  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
  contain: content;
}

.card-edit-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.card-edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.card-edit-form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(89, 89, 89);
  color: white;
}

.card-edit-form button {
  background-color: var(--main-color);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: var(--default-animation);
  font-size: 1.1rem;
}

.card-edit-form button:hover {
  border: 1px solid var(--main-color);
  background-color: rgb(89, 89, 89);
  color: white;
}

@media (min-width: 600px) {
  input {
    padding: 0.6rem;
  }
  aside {
    position: fixed;
    left: 0;
  }

  .contenido {
    margin-left: 16.5rem;
  }

  .containerCard img {
    width: 16rem;
  }

  .containerCard img:hover {
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 17rem;
  }
  .containerCard {
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 18rem;
  }

  .containerCard:hover {
    width: 19rem;
  }

  #cartas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hamburger {
    display: none;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  footer {
    margin-left: 16rem;
  }
  .card-edit {
    display: flex;
    flex-direction: row;
  }
  .card-edit-img {
    height: 24rem;
  }
  .card-edit-description button {
    margin: 0.5rem;
    height: 2.5rem;
    width: 4rem;
  }
}

.card-edit-in-actvie {
  display: none;
  opacity: 0;
  transform: translateY(-100%);
}
