* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}

img {
  width: inherit;
  height: inherit;
}

h1 {
  font-size: 1.3rem;
  padding: 5px;
}

h2 {
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  padding: 10px;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  color: rgb(99, 165, 251);
  background-image: url(./public/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.information {
  width: 95%;
  padding: 10px;
  background-color: black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.imagen {
  width: 3.5rem;
}

header {
}

.containerOne {
  width: 100%;
  text-align: center;
  z-index: 1000;
  position: fixed;
  background-color: rgb(0, 0, 0);
  border-radius: 0px 0px 20px 20px;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.search {
  display: flex;
}

nav {
  position: fixed;
  left: -16rem;
  top: 5.8rem;
  z-index: 800;
  height: 85vh;
  padding: 20px;
  font-size: 2rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(39, 39, 39);
  background: linear-gradient(90deg, #020024 3%, #041736 35%, #020024 98%);
  box-shadow: 5px 5px 10px #151515;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
}

.is-open {
  left: 0;
}

nav li {
  padding: 2rem;
}

nav a {
  color: aliceblue;
  text-decoration-line: none;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav a:hover {
  font-size: 2.3rem;
  color: rgb(105, 108, 112);
}

.containerCard {
  margin: 0.5rem;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 0.5rem;
}
.imagen {
  
}
.content {
  display: flex;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.links {
  width: 2rem;
  display: flex;
  flex-direction: row;
}

.links a {
  width: inherit;
  height: inherit;
}

#menu-icon,
#menu-icon::after,
#menu-icon::before {
  background-color: rgb(255, 255, 255);
}

main {
  padding: 100px 10px;
}

.form {
  display: flex;
  justify-content: space-around;
}

.in_active {
  display: none;
}

.form button {
  color: #0037ff;
  padding: 4px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow:2px 3px 1px #151515;
}

.form button:hover {
  font-size: 1rem;
  color: #04144e;
}

form {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0.1rem 1rem 1rem 1rem ;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #020024 3%, #041736 35%, #020024 98%);
  position: fixed;
  top: 0.5rem;
  z-index: 1001;
}

#tu_propio_cuadro {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  text-align: center;

}

#Contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
}










@media (min-width: 600px) {
  input {
    padding: 0.6rem;
  }
  nav {
    position: fixed;
    left: 0;
  }

  .contenido {
    margin-left: 16.5rem;
  }
  
 .containerCard img {
  width: 16rem;
 }
 .containerCard {
  width: 18rem;
 }

 #cartas {
  display: flex;
  justify-content: center;
 }

 .hamburger {
  display: none;
 }
}
